six
boto
cached_property
enum34
fauxfactory>=2.0.7
google-api-python-client
inflection
ovirt-engine-sdk-python<4.0.0
openshift==0.3.4
pyvmomi>=6.5.0.2017.5.post1
python-cinderclient
python-ironicclient
python-keystoneclient
python-novaclient<7.0.0
python-heatclient
pywinrm
requests




tzlocal
wait_for
websocket_client
dateparser
boto3
packaging
azure>=3.0.0
azure-storage-common>=1.0
pyvcloud==19.1.2

# suds jurko supports python3, suds is only used on python2
suds-jurko; python_version > '3.0'
suds; python_version == '2.7'

###
# Libraries with compiled components, and their related devel packages
###

# lxml super SGML parser, needs libxml2-devel and libxslt-devel
lxml

