# they packaged the py2 package as universal wheel big nono
--no-binary azure-cosmosdb-table 

-r ./requirements.txt

mock # bad imports in hawcular
pytest
pytest-cov
pytest-mock
pytest-variables
coveralls
